<div class="container main-view">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div id='dinnerMap' ng-init="loadMap()" class="nerd-map"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ul class="detail">
                <li><h4>{{dinner.title}}</h4></li>
                <li><b><span>When: </span></b><span>{{dinner.eventDate | date:'MMM dd, yyyy @ hh:mm a'}}</span></li>
                <li><b><span>Where: </span></b><span>{{dinner.address}}</span></li>
                <li><b><span>Description: </span></b><span>{{dinner.description}}</span></li>
                <li><b><span>Organizer: </span></b><span>{{dinner.userName}}</span></li>
                <rsvp-section></rsvp-section> 
                <li><b><span>Who's coming:</span></b></li>
                <li>
                    <ul class="guests" ng-repeat="rsvp in dinner.rsvps">
                        <li>{{rsvp.userName}}</li>
                    </ul>
                </li>
                <li ng-show="isUserHost">
                    <a href="#" class="link" ng-click="editDinner(dinner.dinnerId)">Edit Dinner</a> |
                    <a href="#" class="link" ng-click="deleteDinner(dinner.dinnerId)">Delete Dinner</a>
                </li>
            </ul>
        </div>
    </div>
</div>