<div class="container main-head">
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 nerd-text">
            <img src="/images/caption.png" />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 nerd-search">
            <div class="search-box pull-right">
                <div>
                    <a href="/dinners/all" class="link">View All Upcoming Dinners</a>
                    <span> or </span>
                </div>
                <div>
                    <input type="text" class="form-control pull-left search-text" ng-model="searchForm.location" id="location" placeholder="Enter your location">
                    <button type="submit" class="btn btn-default pull-right" ng-click="showLocation(searchForm.location)">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container main-view">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Find a Dinner</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
            <div id='dinnerMap' ng-init="loadMap()" class="nerd-map"></div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 nerd-list">
            <h4>Popular Dinners</h4>
            <ul class="dinner-list" ng-repeat="dinner in dinners">
                <li>
                    <div>
                        <a href="" class="link" ng-click="selectDinner(dinner.dinnerId)" ng-mouseover="showLocationPin(dinner)" ng-mouseleave="hideInfoBoxPin()">{{dinner.title}}</a>
                    </div>
                    <div>
                        <span><b>{{dinner.eventDate | date:'MMM dd'}}</b></span>
                        <span> with </span>
                        <span>{{dinner.rsvps.length}}</span>
                        <span> RSVPs </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>