<div class="container main-view">
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
            <h4>What is NerdDinner.com</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="nerd" src="/images/nerd.jpg" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="pull-right">
                <p>Are you a huge nerd? Perhaps a geek? No? Maybe a dork, dweeb or wonk. Quite possibly you're just a normal person. Either way, you're a social being. You need to get out for a bite to eat occasionally, preferably with folks that are like you.</p>

                <p>Enter <a href="http://www.nerddinner.com">NerdDinner.com</a>, for all your event planning needs. We're focused on one thing. Organizing the world's nerds and helping them eat in packs.</p>

                <p>We're free and fun. <a href="/">Find a dinner near you</a>, or <a href="/dinners/add">host a dinner</a>. Be social.</p>

                <p>We also have blog badges and widgets that you can install on your blog or website so your readers can get involved in the Nerd Dinner movement. Well, it's not really a movement. Mostly just geeks in a food court, but still.</p>
            </div>
        </div>
    </div>
</div>