<!DOCTYPE html>
<html ng-app="nerdDinner">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <title ng-bind="title"></title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-theme.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

    <script src="~/lib/respond/respond.src.js"></script>
    <script src="~/lib/modernizr/modernizr.js"></script>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <script src="/app.js"></script>


    <script>
        angular.module("nerdDinner");
    </script>

</head>
<body>
    <div ng-controller="HomeController">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                        <img src="~/img/logo.png" />
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right">
                        <a ng-show="!isLoggedIn" href="/#/login">Login</a>
                        <a ng-show="isLoggedIn" href="" ng-click="logOff()">Log Off</a>
                    </div>
                </div>
            </div>
            <div class="container header">
                <ul class="nav nav-tabs navbar-right">
                    <li role="presentation" ng-class="{ active: isActive('/') || isActive('dinners/details/{id}') }"><a href="/">Find Dinner</a></li>
                    <li role="presentation" ng-class="{ active: isActive('/dinners/add') }"><a href="/#/dinners/add">Host Dinner</a></li>
                    <li role="presentation" ng-class="{ active: isActive('/mydinners') }"><a href="/#/mydinners">My Dinners</a></li>
                </ul>
            </div>
        </div>
        <div>
            <ng-view></ng-view>
        </div>
    </div>
</body>
</html>