<div class="container main-container bottom-spaced-container">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 boxed">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 bordered boxed pull-right">
            <div class="boxed">
                <form novalidate ng-submit="add()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="dinner.Title" id="title" placeholder="Dinner Title" />
                    </div>

                    <div class="form-group">
                        <input type="datetime-local" form-control" id="eventDate" ng-model="dinner.EventDate" placeholder="Event Date" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="description" ng-model="dinner.Description" placeholder="Description" />
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="address" ng-model="dinner.Address" placeholder="Address" />
                    </div>

                    <div class="form-group">
                        <input type="tel" class="form-control" id="contact" ng-model="dinner.ContactPhone" placeholder="Contact Phone" />
                    </div>

                    <button type="submit" class="btn btn-default">save</button>
                </form>
            </div>
        </div>
    </div>
</div>

