﻿<div>
    <div>
        <p><b>{{dinner.title}}</b></p>
        <p><span>When: </span><span>{{dinner.eventDate}}</span></p>
        <p><span>Where: </span><span>{{dinner.address}}</span></p>
        <p><span>Description: </span><span>{{dinner.description}}</span></p>
        <p><span>Organizer: </span><span>{{dinner.userName}}</span></p>
        <p><span>Who's coming:</span></p>
        <p ng-repeat="rsvp in dinner.rsvps">
            <span>{{rsvp.userName}}</span>
        </p>
    </div>
</div>