<div class="container main-container bottom-spaced-container">
    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 boxed">
            <h4>All Upcoming Dinners</h4>
            <ul class="popular" ng-repeat="dinner in dinners">
                <li>
                    <a href="" ng-click="selectDinner(dinner.dinnerId)">{{dinner.title}}</a>
                    <span> on </span>
                    <span><b>{{dinner.eventDate | date:'MMM dd, yyyy @ hh:mm a'}}</b></span>
                    <span> at </span>
                    <span>{{dinner.address}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
