<div class="container main-container bottom-spaced-container">
    <div class="row" ng-show="loginForm.loginFailure">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bordered boxed alert-danger">
            <div class="boxed">
                <span>Login Failed.</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="logon-box bordered boxed pull-left">
            <div class="boxed">
                <h4>Nerd Dinner Login</h4>
                <form ng-submit="login()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="loginForm.userName" id="userName" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" ng-model="loginForm.password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button> or <a href="/#/register">Register</a>
                </form>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-uppercase text-center parent boxed">
            <div class="child">
                or
            </div>
        </div>
        <div class="logon-box bordered boxed pull-right">
            <div class="boxed">
                <h4>Social Login</h4>
                <div class="sign-in" ng-click="externalLogin('Google')">
                    <img class="google-icon" src="~/img/google-sign-in.png" />
                </div>
                <div class="sign-in" ng-click="externalLogin('Facebook')">
                    <img class="facebook-icon" src="~/img/facebook-sign-in.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

