<div class="container main-container bottom-spaced-container">
    <div class="row" ng-show="registerForm.registrationFailure">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bordered boxed alert-danger">
            <div class="boxed">
                <ul class="errors" ng-repeat="(key, value) in registerForm.errorMessage">
                    <li ng-show="key != 'success'">{{value}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 bordered boxed">
            <div class="boxed">
                <h4>Register for a Nerd Dinner Account</h4>
                <form ng-submit="register()">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="registerForm.userName" id="userName" placeholder="User Name">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" ng-model="registerForm.password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="confirmPassword" ng-model="registerForm.confirmPassword" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="btn btn-default">Register</button> or <a href="/#/login">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>