<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.uniquode.xfapp">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="21" />
	<application>
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCCPKAfzei5t-3u697jihsO3tJOOjEJV7E" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>